.container{
    width: 1000px;
    margin: 0 auto;
}
.subcont{
    max-height: 500px;
    border: 1px solid black;
    overflow-y: scroll;
}
.subs{
    float: right;
}
li{
    border: 1px solid black;
    margin: 10px;
}
